.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  position: relative;
  background: #2e2d2d;
  border-radius: 35px;
  height: 25em;
  width: 35em;
}

.description {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 2rem;
  text-align: left;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Archive Popup styles */
.archive-popup {
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.custom-calendar {
  font-family: 'Cinzel', sans-serif;
  border-radius: 35px;
  background-color: white;
}

.calendar-width {
  width: 16em;
}

.time-travel-button {
  font-weight: bold;
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: auto;
  font-family: 'Cinzel', sans-serif;
}

.time-travel-button:hover {
  transform: scale(1.1);
}

/* Subscribe Popup styles */
.email-box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: -10rem;
}

.right-arrow {
  position: absolute;
  right: 1rem;
  color: black;
}
